<div class="container-wrapper">
  <nav class="navbar navbar-expand-custom navbar-mainbg d-flex align-items-center justify-content-between">
    <a class="navbar-brand navbar-logo fancy-logo" href="#"><span>GrubGo</span></a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul #navbar class="navbar-nav">
            <div class="hori-selector" 
                 [ngStyle]="{
                   top: horiSelectorStyle.top,
                   left: horiSelectorStyle.left,
                   height: horiSelectorStyle.height,
                   width: horiSelectorStyle.width
                 }">
              <div class="left"></div><div class="right"></div>
            </div>
            <li *ngFor="let item of navItems; let i = index"
                class="nav-item"
                [class.active]="i === activeIndex"
                (click)="setActive(i, $event)">
              <a class="nav-link" [routerLink]="item.link">
                <i [class]="item.icon"></i>{{item.label}}
              </a>
            </li>
        </ul>
      </div>
      <div class="user-menu ms-3">
        <div class="d-flex align-items-center avatar-wrapper">
          <img [src]="avatar || 'https://ui-avatars.com/api/?name=' + (userName || 'Admin')" alt="avatar" width="32" height="32" class="rounded-circle me-2 avatar">
        </div>
      </div>
    </div>
  </nav>
  <div class="center-content d-flex">
    <div class="sidebar me-4">
      <ul class="list-group">
        <li class="list-group-item sidebar-menu-item"
            *ngFor="let item of navItems; let i = index"
            [class.active]="i === activeIndex"
            (click)="setActive(i, $event)"
            [routerLink]="item.link"
            style="cursor:pointer">
          <i [class]="item.icon"></i> <span class="sidebar-menu-label">{{item.label}}</span>
        </li>
      </ul>
      <div class="sidebar-logout mt-auto">
        <button class="list-group-item logout-btn w-100" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
    </div>
    <div class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>